.projectCardContainer {
    /* margin-top: 5rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    min-height: 100vh;
}

.projectCardContainer h1 {
    font-size: 5rem;
}

.projectInnerContainer {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem
}

.projectContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* border: solid rgb(0, 0, 0) 1px; */
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 1em;
    background-color: white;
    flex-grow: 1;
}