.projectCardContainer {
    /* margin-top: 5rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(211, 230, 249);
}

.projectCardContainer h1 {
    margin-top: 5vh;
    font-size: 5rem;
}

.projectInnerContainer { 
    position: relative; 
    right: 10vw;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    opacity: 0;
    transition: 1000ms
}

.projectContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* border: solid rgb(0, 0, 0) 1px; */
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 1em 2em 1em 2em;
    /* background-color: white; */
    max-width: 28%;
    min-width: 28%;
    row-gap: 1rem;
    border: solid black 2px;
}

.projectContainer:hover {
    background-color: rgb(217, 236, 252);
}

.projectContainer p {
    text-align: center;
}

.projectsHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    margin-top: 10vh
}

.projectContainer a {
    border: solid black 1px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-decoration: none;
    color: black;
    font-family: mainFont;
    background-color: white;
}

.projectContainer a:hover {
    background-color: rgb(253, 222, 227);
}

.projectsInView > .projectInnerContainer {
    right: 0vw;
    opacity: 1;
}