.aboutContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    text-align: center;
    flex-grow: 1;
    column-gap: 100px;
    background-color: white;
    border: black solid 1px;
    opacity: 0;
    transition: 2000ms
}

.aboutLeftDiv, .aboutRightDiv {
    position: relative;
    top: 5vh;
    flex-grow: 1;
    max-width: 45%;
    height: 75%;
}

.aboutLeftDiv {
    background-color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
}



.aboutRightDiv {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: black solid 1px;
}

.aboutRightDiv p {
    font-size: 1.5rem;
    width: 80%;
}

.aboutRightDiv > h1 {
    font-size: 3rem;
}

.aboutMeHeader {
    font-size: 5rem;
    padding: 0;
    margin: 0
}

.aboutIcon {
    width: 100px
}

.aboutInView {
    column-gap: 0vw;
    opacity: 1
}

.aboutDownArrow {
    cursor: pointer;
    margin-bottom: 5%
}

.aboutDownArrow:hover {
    position: relative;
    bottom: 3px;
    background-color: rgb(253, 222, 227);
    border-radius: 13px;
    box-shadow: 0.5px 0.5px 1px;
}

@media screen and (max-width: 480px) {
    .aboutLeftDiv {
        display: none;
    }

    .aboutRightDiv {
        max-width: 90%;
        margin-top: 5%;
    }
}

@media screen and (max-width: 700px) {
    .aboutContainer {
        margin-top: 10%;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-bottom: 10%;
    }

    .aboutLeftDiv {
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .aboutRightDiv {
        min-width: 90%;
        padding-bottom: 5%;
    }
}