.contactContainer {
    width: 100%;
    min-height: 10vh;    
}

.contactList {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    text-decoration: none;
}

@media screen and (max-width: 480px) {
    .contactList {
        padding-left: 0;
    }
}