
.navbarContainer {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 5rem;
    max-height: 5rem;
    width: 100vw;
    box-shadow: rgb(0, 0, 0) 0px 0px 10px 0px;
    background-color: rgb(211, 230, 249);
    /* background-color: white; */
    transition: 0.5s;
}

.navbarHeader {
    display: flex;
    align-items: center;
    flex-grow: 8;
    height: 100%;
}

.navbarHeader h2 {
    
    position: relative;
    left: 5vw;
    /* border: black solid 1px; */
    padding: 0.5em 0.7em 0.5em 0.7em
}

.navbarLinks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    height: 100%
}

.navbarLinks li {
    text-align: center;
    flex-grow: 1;
}

.navbarLinks a {
    font-size: 1.25rem;
    text-decoration: none;
    color: black;
    border: solid transparent 1px;
    margin: 0px;
    width: auto;
    display: inline-block;
    position: relative;

}

.navbarLinks h3 {
    cursor: pointer;
    margin: 0px;
    padding: 0px
}

.navbarLinks a::before {
    transition: 300ms;
    height: 2px;
    content: "";
    position: absolute;
    background-color: #031D44;
  }

.navbarLinks a::before {
width: 0%;
bottom: 0px;
right: 0px;
left: 0px;
top: 30px
}

.navbarLinks a:hover::before {
width: 100%;
}

.active {
    /* border-top: solid black 2px; */
    opacity: 1;
    background-color: rgb(253, 222, 227);
} 

.listContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    height: 100%;
    list-style: none;
}

.inView {
    background-color: white;
}

/* .navbarLinks a:hover {
    background-color: rgb(253, 241, 241);
} */