@font-face {
  font-family: mainFont;
  src: url('../public/louis_george_caf/Louis\ George\ Cafe.ttf');
}

.App {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h1, h2, h3, p {
  font-family: mainFont;
}